cpp-platformer.vcxproj
cpp-platformer.vcxproj.filters
cpp-platformer.vcxproj.user
glad.c
x64/Debug/cpp-platformer.exe.recipe
x64/Debug/cpp-platformer.ilk
x64/Debug/cpp-platformer.log
x64/Debug/glad.obj
x64/Debug/MainGame.obj
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
x64/Debug/cpp-platformer.tlog/CL.command.1.tlog
x64/Debug/cpp-platformer.tlog/Cl.items.tlog
x64/Debug/cpp-platformer.tlog/CL.read.1.tlog
x64/Debug/cpp-platformer.tlog/CL.write.1.tlog
x64/Debug/cpp-platformer.tlog/cpp-platformer.lastbuildstate
x64/Debug/cpp-platformer.tlog/link.command.1.tlog
x64/Debug/cpp-platformer.tlog/link.read.1.tlog
x64/Debug/cpp-platformer.tlog/link.write.1.tlog
